:root {
  --black-color: #030303;
  --white-color: #fff;
  --red-color: #ff1744;
  --blue-color: #1e88e5;
  --grey-color: #606060;
  /* font */
  --large-size: 1.2rem;
  --basic-size: 1rem;
  --small-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button, button:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 10px;
}

header button {
  color: var(--white-color);
  font-size: var(--basic-size);
}

.left a {
  font-weight: 800;
}

.fa-youtube {
  color: var(--red-color);
}

.right i {
  margin: 0 5px;
}

.video {
  position: sticky;
  top: 0px;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 1000px;
  width: 100%;
}

section .video_info {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.video_info .hashtag {
  color: var(--blue-color);
  font-size: var(--small-size);
}

.title_container {
  margin-top: 10px;
}

.title_container .title {
  display: flex;
  font-size: var(--basic-size);
  justify-content: space-between;
}

.title_container button {
  align-self: baseline;
}

.video_info .viewers {
  font-size: var(--small-size);
  color: var(--grey-color);
}

.title_container .text {
  font-size: var(--basic-size);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video_info .owner,
.viewers {
  font-size: var(--small-size);
  color: var(--grey-color);
}

.icon_list {
  display: flex;
  justify-content: space-around;
  color: var(--grey-color);
}

.icon_list .icon_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_list .icon_item button {
  font-size: var(--large-size);
}

.icon_list .icon_item .text {
  font-size: var(--small-size);
}

.video_owner {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
}

.video_owner img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.video_owner .user_info {
  display: flex;
}

.video_owner .user_info .meta {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.video_owner .user_info .user {
  font-size: var(--basic-size);
}

.video_owner .user_info .subscribe {
  font-size: var(--small-size);
  color: var(--grey-color);
}

.subscribe_btn {
  color: var(--red-color);
}


.video_list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.video_list .text {
  color: var(--grey-color);
  font-size: var(--basic-size);
  padding-left: 10px;
}

.video_item {
  display: flex;
  padding: 10px;
}

.video_item .item {
  flex-basis: 35%;
}

.video_item img {
  width: 100%;
}

.video_item .video_info {
  flex-basis: 60%;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
}

.video_item .more {
  flex-basis: 5%;
  align-self: flex-start;
  padding-top: 5px;
}

.infoAndList {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndList {
    flex-direction: row;
  }
}

